@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .marquee { grid-area: 1 / 1 / 2 / 3; 
    z-index: 1;
  }
  .photo { grid-area: 1 / 2 / 3 / 3;
    z-index: 2;
  }
  .presentation { grid-area: 2 / 1 / 3 / 2; 
    
  }

// Éléments

button {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

button:hover {
  background: #000000;
  text-decoration: none;
}

// Typographie

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-left: 10%;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 500;
}